<ion-content [fullscreen]="true" class="background">
  <ion-grid class="grid">
    <ion-row>
      <ion-col sizeMd="4" offsetMd="4">
        <div class="headerButtons" *ngIf="profile">
          <ion-back-button class="backButton" defaultHref="characterlist" ></ion-back-button>
          <p>{{profile.name}}</p>
          <ion-button class="infoButton" shape="circle" (click)="infoCharacterClic()">
            <ion-icon class="infoIcon" name="information-outline"></ion-icon>
          </ion-button>
        </div>
        <div *ngIf="profile">
            <ion-card class="card">
              <ion-card-content>
                <img src="{{profile.thumbnail.path}}.{{profile.thumbnail.extension}}" alt="">
                <p><strong>NAME: </strong>{{profile.name}}</p>
                <p><strong>DESCRIPTION: </strong>{{characterDesc}}</p>
                <p><strong>MODIFIED: </strong>{{profile.modified | date}}</p>
                <p><strong>COMICS: </strong></p>

                <div *ngIf="comics">
                  <ion-card class="cardComics">
                    <ion-card-content>
                      <ion-list>
                        <ion-item *ngFor="let comic of comics" >
                          <ion-thumbnail slot="start">
                            <img src="{{comic.thumbnail.path}}.{{comic.thumbnail.extension}}" alt=""/>
                          </ion-thumbnail>
                          <p>{{comic.title}}</p>
                        </ion-item>
                      </ion-list>
                    </ion-card-content>
                  </ion-card>
                </div>

            </ion-card-content>
          </ion-card>
        </div>

      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

