.background{
  --background: url('../../assets/img/Avengers.jpg') 0 0/100% 100%;
}

.card{
  --background: rgba(255, 255, 255, 0.9);
}

.cardComics{
  --background: rgba(255, 255, 255, 0.9);
}

.headerButtons{
  display:flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.9);
  box-shadow: rgba(0, 0, 0, 0.14) 0px 2px 2px 0px, rgba(0, 0, 0, 0.2) 0px 3px 1px -2px, rgba(0, 0, 0, 0.12) 0px 1px 5px 0px;
  border-radius: 5px;
}

.infoButton{
  --background: transparent;
  color: black;
  --box-shadow: none;
  --border-radius: 50%;
  min-width: 48px;
  height: 48px;
  --background-hover: currentColor;
  --background-hover-opacity: 0.04;
}

.infoIcon{
  font-size: 24px;
}
