<ion-content [fullscreen]="true" class="background">
  <div class="center">
    <ion-button color="danger" fill="solid" [routerLink]="['/characterlist']">
      Characters
    </ion-button>
  </div>
</ion-content>
