<ion-content [fullscreen]="true" class="background">
  <ion-grid>
    <ion-row>
      <ion-col sizeMd="4" offsetMd="4">
        <div class="searchLine">
          <ion-back-button class="backButton" defaultHref="home"></ion-back-button>
          <ion-icon class="searchIcon" name="search-outline"></ion-icon>
          <ion-input (input)='search(searchTerm)' [(ngModel)]="searchTerm" label="Search" labelPlacement="floating" placeholder="Enter name"></ion-input>
        </div>
        <ion-list class="bg-transparent">
          <ion-item class="item item-trns" *ngFor="let character of characters" [routerLink]="['/characterprofile/', character.id]">
            <ion-avatar item-start>
              <img src="{{character.thumbnail.path}}.{{character.thumbnail.extension}}" alt="">
            </ion-avatar>
            <div class="divLabel">
              <ion-label>
                <p class="pLabel">
                  {{character.name}}
                </p>
              </ion-label>
            </div>
          </ion-item>
        </ion-list>
        <ion-infinite-scroll (ionInfinite)="onIonInfinite($event)">
          <ion-infinite-scroll-content class="loadingspinner" loadingText="Loading..." loadingSpinner="bubbles"></ion-infinite-scroll-content>
        </ion-infinite-scroll>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>