.divLabel {
  margin-left: 10px;
}

.pLabel{
  font-size: 16px;
  font-weight: bold;
  opacity: 0.95;
}

.bg-transparent {
  background: transparent;
}

.item.item-trns {
  margin: 10px 0 10px 0;
  border-radius: 4px;
  border: ridge;
  box-shadow: 2px 0.2px 2px;
}

ion-avatar {
  --border-radius: 4px;
}

.background{
  --background: url('../../assets/img/Avengers.jpg') 0 0/100% 100%;
}

ion-item{
  --background: rgba(255, 255, 255, 0.9);
}

.searchLine{
  display:flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.9);
  box-shadow: rgba(0, 0, 0, 0.14) 0px 2px 2px 0px, rgba(0, 0, 0, 0.2) 0px 3px 1px -2px, rgba(0, 0, 0, 0.12) 0px 1px 5px 0px;
  border-radius: 5px;
}

ion-input{
  --highlight-color-focused: none;
  --highlight-color-valid: none;
  --highlight-color-invalid: none;
  --highlight-color: none;
}

.loadingspinner{
  --color : #d8d6d6;
}

.searchIcon{
  font-size: 24px;
  margin-right:5px
}
